@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Square+Peg&display=swap');

body {
    margin: 0;
    font-family: 'Lora', serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 2rem;
}

.header-nav a {
    margin-right: 2rem;
}

.footer-row .container {
    text-align: center;
    font-size: 80%;
}

ul {
    line-height: 2;
}

p {
    line-height: 1.5;
}

.emphasis {
    font-weight: 700;
}

.word-count {
    text-align: right;
}

.letter {
    max-width: 400px;
    margin: auto;
}

.letter.handwritten {
    font-family: 'Square Peg', cursive;
    font-size: 170%;
}

.letter.printed {
    text-align: center;
}

.letter p {
    margin: 0.1rem;
}

.lyrics {
    white-space: pre;
}

.lyrics p {
    margin: 0;
}

.playscript p::before {
    content: '-';
    padding-right: 1rem;
}

.huge p {
    font-size: 300%;
    margin: 1rem;
}

.image-container {
    text-align: center;
}
