@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Lora', serif;
}

.container {
    max-width: 700px;
    margin: auto;
}
